#AboutUs {
  background-image: url(./img/leaves3.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#AboutUs .wrapper {
  padding-top: 20px;
}

#AboutUs h1,
h2,
h3 {
  text-align: center;
}

#AboutUs img {
  background-color: white;
  padding: 5px;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.post {
  margin: 40px 20px;
}

.post img {
  float: left;
  background-color: white;
  padding: 5px;
}

.post .imgright {
  float: right;
}

.post-text {
  text-align: justify;
  margin: 20px;
}
