#AboutUs {
  background-color: rgba(160, 255, 97, 0.74);
  overflow: hidden;
  padding-top: 50px;
}

#AboutUs img {
  width: 520px;
  margin: 16px;
  border: 4px solid white;
}

.text-container {
  flex: 2;
  font-size: 18px;
}

.image-container {
  flex: 2;
}
