@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

.bg-light {
  background-color: rgb(145, 211, 145) !important;
}

.navbar-brand {
  margin-right: 40px;
}

.navbar-brand span {
  font-family: "Tangerine", cursive;
}

#Nav {
  width: 100%;
}

#logo img {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

#logo span {
  font-size: 50px;
}

li {
  font-size: 18px;
  border-radius: 2px;
}

li:hover {
  /* background-color: rgb(110, 196, 53); */
  border-bottom: 2px solid rgb(56, 121, 13);
}

@media screen and (max-width: 768px) and (min-width: 415px) {
}

@media screen and (max-width: 414px) {
  #logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  #logo span {
    font-size: 16px;
  }
}
